wall RCDATA "Imagens\\Wall.png"
floor RCDATA "Imagens\\Floor.png"
box RCDATA "Imagens\\Box.png"
boxgoal RCDATA "Imagens\\BoxInGoal.png"
goal RCDATA "Imagens\\Goal.png"
left RCDATA "Imagens\\PlayerLeft.png"
right RCDATA "Imagens\\PlayerRight.png"
down RCDATA "Imagens\\PlaterDown.png"
up RCDATA "Imagens\\PlayerUp.png"
graystar RCDATA "Imagens\\GrayStar.png"
star RCDATA "Imagens\\Star.png"
next RCDATA "Imagens\\Next.png"
restart RCDATA "Imagens\\Restart.png"
exit RCDATA "Imagens\\Exit.png"
new RCDATA "Imagens\\New.png"
save RCDATA "Imagens\\Save.png"
